<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head lang="en">
    <title>${title}</title>
</head>
<body>

<h2>Edge Tech Academy</h2>
<h4 th:text="'Countries in: ' + ${region}"></h4>
<h5 th:text="'Total Population: ' + ${population}"></h5>

<table class="table table-striped">
    <tr>
        <th>City Name</th>
        <th>Region</th>
        <th>Population</th>
        <th>Head of State</th>
        <th>Capital</th>
    </tr>
    <tr th:each="country : ${countries}">
        <td th:text="${country.name}">Country Name</td>
        <td th:text="${country.region}">Region</td>
        <td th:text="${country.population}">Population</td>
        <td th:text="${country.headOfState}">Population</td>
        <td th:text="${country.capital}">Population</td>
    </tr>
</table>

</body>
</html>